/** 催更报错 **/
.ui-mr30{
    margin-right: 30px;
}

.ui-popup-wr{
    position: relative;
}
.ui-popup-content-wr{
    position: relative;
    z-index: 3;
    height: 100%;
    min-height: 150px;
    min-width: 380px;
    border: 4px solid #ff9a6a;
    border-radius: 3px;
    box-shadow:0 5px 8px rgba(0,0,0,0.2);
    background-color: #f7f7f7;
    overflow: hidden;
}
.ui-popup-content{
    background:#fff;
}
.ui-popup-closer{
    position: absolute;
    right: -48px;
    top: 0;
    z-index: 1;
    width: 50px;
    height: 45px;
    border-radius: 0 3px 3px 0;
    text-indent: -9999em;
    cursor: pointer;
    background: #ff9a6a url(../images/ac_popup_bg.png) -138px 12px no-repeat;
}
.ui-popup-closer:active{
    background-color: #f08321;
}
.ui-popup-head{
    height: 48px;
    margin: 1px 1px 0 1px;
    background-color: #f7f7f7;
    width:100%;
}
.ui-popup-title{
    margin-left: 16px;
    font: normal 22px/48px "微软雅黑";
    color:#333;
    width:100%;
}
.ui-popup-foot-wr{
    background:#fff;
    padding: 24px 0;
    text-align: center;
}
.ui-popup-btn{
    display:inline-block;
    *display:inline;
    *zoom:1;
    height: 48px;
    border-radius: 3px;
    font: normal 18px/48px "微软雅黑";
    /*text-shadow: 0 1px 1px rgba(0,0,0,0.2);*/
}
.ui-popup-btn-w122{
    width: 122px;
}
.ui-popup-btn-w102{
    width: 102px;
}
.ui-popup-msg-text{
    font-size: 18px;
    font-family: "微软雅黑";
    color: #333;
}
.ui-btn-orange{
    /*background: -moz-linear-gradient(top, #ff9126, #fd8929);
    background: -webkit-linear-gradient(top, #ff9126, #fd8929);
    background: -o-linear-gradient(top, #ff9126, #fd8929);
    background: -ms-linear-gradient(top, #ff9126, #fd8929);*/
    background: #f89157;
    box-shadow: 0 0 1px rgba(255,255,255,0.5) inset;
    border: 1px solid #ec7d4d;
    color: #fff;
    /*background: url(../images/ac_btn_bg.png) 0 -180px\9;*/
}
.ui-btn-orange:hover{
    /*background: -moz-linear-gradient(top, #ffb14c, #ffa245);
    background: -webkit-linear-gradient(top, #ffb14c, #ffa245);
    background: -o-linear-gradient(top, #ffb14c, #ffa245);
    background: -ms-linear-gradient(top, #ffb14c, #ffa245);
    background-position: 0 -240px\9;*/
    background: #f59966;
}
.ui-btn-orange:active{
    /*background: -moz-linear-gradient(top, #e76e09, #f5841d);
    background: -webkit-linear-gradient(top, #e76e09, #f5841d);
    background: -o-linear-gradient(top, #e76e09, #f5841d);
    background: -ms-linear-gradient(top, #e76e09, #f5841d);
    background-position: 0 -300px\9;*/
    background: #f1854b;
}
.ui-btn-pale{
    background: -moz-linear-gradient(top, #fafafa, #f1f1f1);
    background: -webkit-linear-gradient(top, #fafafa, #f1f1f1);
    background: -o-linear-gradient(top, #fafafa, #f1f1f1);
    background: -ms-linear-gradient(top, #fafafa, #f1f1f1);
    box-shadow: 0 0 1px rgba(255,255,255,0.5) inset;
    border: 1px solid #dbd9d8;
    color: #666;
    background: url(../images/ac_btn_bg.png) 0 -720px\9;
}
.ui-btn-pale:hover{
    background: -moz-linear-gradient(top, #ffffff, #fcfcfc);
    background: -webkit-linear-gradient(top, #ffffff, #fcfcfc);
    background: -o-linear-gradient(top, #ffffff, #fcfcfc);
    background: -ms-linear-gradient(top, #ffffff, #fcfcfc);
    background-position: 0 -780px\9;
}
.ui-btn-pale:active{
    background: -moz-linear-gradient(top, #f1f1f1, #fafafa);
    background: -webkit-linear-gradient(top, #f1f1f1, #fafafa);
    background: -o-linear-gradient(top, #f1f1f1, #fafafa);
    background: -ms-linear-gradient(top, #f1f1f1, #fafafa);
    background-position: 0 -840px\9;
}
.works-report-wr {
    width: 500px;
}

.works-report-wr .ui-popup-content {
    width: 452px;
    padding: 20px 20px 0 20px;
}

.works-report-wr .ui-popup-btn {
    width: 100px;
}

.works-report-list li {
    padding-bottom: 12px;
}

.works-report-radio input,
.works-report-radio label {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
}

.works-report-label,
.works-report-name,
.works-report-active {
    line-height: 26px;
}

.works-report-label {
    font-size: 14px;
    color: #666;
}

.works-report-radio {
    padding-right: 10px;
}

.works-report-name {
    padding-left: 5px;
    font-size: 14px;
}

.works-report-content {
    width: 450px;
    height: 169px;
    max-width: 450px;
    max-height: 172px;
    padding: 3px;
    border: 1px solid #e5e4e4;
    overflow: hidden;
}

.works-report-code {
    width: 106px;
    height: 22px;
    padding: 2px 4px;
    margin: 0 14px 0 8px;
    line-height: 22px;
    border: 1px solid #e5e4e4;
}

.works-report-active {
    color: #666;
}

.works-report-active:hover {
    color: #fd8929;
    text-decoration: underline;
}

.works-report-img {
    width: 80px;
    height: 28px;
    margin-right: 14px;
}

.works-roading-bg {
    width: 860px;
    height: 370px;
    background: #fff;
    position: absolute;
    top: 68px;
    left: 2px;
    overflow: hidden;
    z-index: 50;
    padding-top: 120px;
    text-align: center;
}