<!DOCTYPE html>
<head>
<title>{title}</title>
<meta name="description" content="{desc}">
<meta name="keywords" content="{key}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="white"/>
<link href="{templates}/css/style.css" rel="stylesheet" type="text/css">
<link href="{templates}/css/wm.css" rel="stylesheet" type="text/css">
<link href="{templates}/css/novel.css" rel="stylesheet" type="text/css">
</head>
<body class="bg">
<div class="content-wrap">
<div class="content">

 
<style>
.content, .bg, .wp{background:#EEE;}
</style>

<!-- header start -->
    
    
    <header class="header">
      <div class="nav"><span class="menu-y"><a href=""><img src="{templates}/img/post_icon.png" class="vm mrn z"></a></span>
      <a href="{用户中心}" class="menu-z"><img src="{templates}/img/icon_back.png" /></a>
      <h2 class="tit">消息</h2>
	  <div class="user_fun"> 
      <a href="{用户中心}" class="user_avt" title="{用户昵称}">
	  <img src="{用户头像}" /></a> 
    </div>
      </div>
    </header>
    
    
    

<!-- header end -->
<div class="cl"> 
     
     
    
        <div class="xld xlda">
      <div class="nts"> 
	  
	  {消息列表:数量=10}
                <dl class="cl " notice="95">
          <dd class="m avt mbn"> 
             
            <a href="{url}"><img src="{发信用户头像}"></a> 
             
          </dd>
          <dt> <span class="xg1 xw0">{发信时间}</span> </dt>
          <dd class="ntc_body xs2" style=""> <a style="color:#f00;">@{发信用户昵称}</a> 对您说 <a style="color: #000;
    font-weight: 900;" href="{url}">{消息内容:9}...</a>&nbsp; <a href="{url}" target="_blank" class="lit">查看</a> </dd>
          
                    
        </dl>
         {/消息列表}
      </div>
    </div>
    
     
    
     
     
    
     
  </div>

  
							
<div class="ptw pbw cl">
<div class="page">
<a href="{上一页}" class="grey">上一页</a>
{跳页:5}
							{选中页}<strong>{i}</strong>{/选中页}
							<a href="{url}">{i}</a>
							{/跳页}
<a href="{下一页}" class="nextpage">下一页</a></div></div>
<div id="mask" style="display:none;"></div>



</div>
</div>
</div>
<script src="{templates}/js/main.js" type="text/javascript"></script>
<script src="{templates}/js/classie.js" type="text/javascript"></script> 
<script src="{templates}/js/jquery.scrollUp.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(function(){
  jQuery.scrollUp({
  animation: 'fade', // Fade, slide, none
      scrollText: 'GoTop',
  }
  
  );
});
</script>
<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">返回上页</a><a href="{首页}">返回首页</a></div></div>	
{footer:footer.html}