<!-- footer -->
<div class="mod-footer-wr">
    <div class="mod-footer-main-wr">
        <div class="mod-footer-main ui-wm">
            <!-- 二维码 -->
            <ul class="mod-footer-scan ui-ma">
                <li>
                    <img src="{QQ群二维码}" title="กลุ่มพูดคุย" alt="กลุ่มพูดคุย"/>
                    <div style="color:#fff">กลุ่มพูดคุย</div>
                </li>
                <li>
                    <img src="{支付宝二维码}" title="บริจาค" alt="บริจาค"/>
                    <div style="color:#fff">บริจาค</div>
                </li>
            </ul>
            <!-- 版权 -->
            <div class="mod-footer-info">
                <a href="{网站地图:html}" target="_blank" title="แผนผังเว็บไซต์">แผนผังเว็บไซต์</a>
                <a href="{网站地图:xml}" target="_blank" title="sitemap">sitemap</a>
                <a href="{网站地图:rss}" target="_blank" title="rss订阅">ฟีด RSS</a>
                <a href="javascript:void(0);" target="_blank">weibo</a>
                <span class="ui-pl10" style="color:#fff">ช่องทางติดต่อ：<a class="mod-footer-mail" href="mailto:{邮箱}">{邮箱}</a></span>
            </div>
            <div class="mod-footer-info">Copyright<span class="mod-copyright"  style="color:#fff">&copy;</span>2016  WMCMS. All Rights Reserved</div>
            <div class="mod-footer-info">{网站名} สงวนลิขสิทธิ์</div>
        </div>
    </div>
    <div class="mod-footer-border"></div>
</div>

{统计}
</body>
</html>