{header:header.html}
<nav class="New-nav">
	<a class=""  href="{首页}">หน้าหลัก</a>
	<a class=""  href="{小说排行首页}">อันดับ</a>
	<a class=""  href="{小说首页}">หมวดหมู่</a>
	<a class=""  href="{我的收藏}">ชั้นหนังสือ</a>
	<a class=""  href="{签到中心}">เข้าสู่ระบบ</a>
</nav>
<div class="all_title">
<span style="">แสดงความคิดเห็น</span></div>
<div class="other-author-wrap related-tag">
		<div id="comments"><div class="comment-post" id="comment-post">
	<form name="re" action="{留言提交地址}" method="post">
	<input type="hidden" name="type" value="add">
	<p><textarea name="content" rows="10" class="post-area" placeholder="{留言内容}" style="width:100%">{留言内容}</textarea></p>
	<div class="gdpl"><div title="แสดงความคิดเห็น" class="face"><a href="#"> </a></div><input type="submit" name="go" class="open2" id="submit" value="ส่ง"></div></form>
	  </div>
		</div>
		   </div>
<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">ย้อนกลับ</a><a href="{首页}">หน้าหลัก</a></div></div>			   
{footer:footer.html}