<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{title}</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<link rel="stylesheet" data-ignore="true" href="{templates}/css/pay.css">
<style>
.account{margin-top: -13px;display:none}
</style>
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <!-- start 头部 -->
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="{用户中心}">
                <span style="color: #2e9de7;">&lt; 用户中心</span>
            </a>
            <h1 class="title">{支付方式}充值</h1>
        </header>
        
        <!-- end 头部 -->
        <div class="content">
            <div class="account-wrap cf">
                <span style="color:red">{支付金额}</span>
                <em>充值金额</em>
            </div>
            <!-- start 账号 -->
            <div class="account-wrap cf">
                <span>{订单号}</span>
                <em>订单号</em>
            </div>
            
            <div class="btn-wrap">
                <a id="pay" class="blue-btn" href="{用户中心}" data-tamount="10" data-method="1">充值完成</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>