{header:author/inc_header.html}
<link rel="stylesheet" type="text/css" href="{templates}/static/css/author/apply.css" />
{header:author/inc_toper.html}
<div class="authorApplyWrap">
	<h3>ลงทะเบียนเป็นนักเขียน / นักแปล</h3>
	<center id="stepTabBox" class="stepTitle">
		<span class="act">1</span><em class="actText">ข้อมูลทั่วไป</em><i class="icon nogt"></i>
		<span>2</span><em>รายละเอียด</em><i class="icon nogt"></i>
		<span>3</span><em>ลงทะเบียนสำเร็จ</em>
	</center>
	<!-- 基础信息 -->
	<form name="Form" id="form">
		<div class="applyForm infoListWrap" id="step1">
			<ul>
				<li>
					<em>นามปากกา</em>
					<input class="midInput" id="nickname" name="nickname" type="text">
					<cite data-node="ok" class="icon ok" style="display:none;"></cite>
					<p data-node="tip" class="tip">ต้องมีอย่างน้อย 3-16 ตัวอักษร! <span style="color:red">หลังลงทะเบียนจะไม่สามารถเปลี่ยนแปลงได้</span></p>
				</li>
			</ul>
			<p class="confirm">
				<a class="button" href="javascript:step(1,2);">ต่อไป</a>
			</p>
		</div>
		
		<!-- 注册表单 -->
		<div class="applyForm infoListWrap" style="display:none;" id="step2">
			<ul>
				<li>
					<em>ชื่อจริง</em>
					<input class="midInput" id="realname" name="realname" type="text">
					<cite data-node="ok" class="icon ok" style="display:none;"></cite>
					<p data-node="tip" class="tip">ต้องมีอย่างน้อย 3-30 ตัวอักษร!</p>
				</li><!--
				<li>
					<em>身份证号码</em>
					<input class="midInput" id="cardid" name="cardid" type="text">
					<cite data-node="ok" class="icon ok" style="display:none;"></cite>
					<p data-node="tip" class="tip">请输入您的真实身份证号码！</p>
				</li>
				<li>
					<em>联系地址</em>
					<input class="midInput" id="address" name="address" type="text">
					<cite data-node="ok" class="icon ok" style="display:none;"></cite>
					<p data-node="tip" class="tip">您当前的居住地址，方便合同邮寄</p>
				</li>-->
				<li>
					<span class="checkBox agreen"><input id="agreeCheckbox" name="agreement" type="checkbox" value="1"></span>
					<label class="f12" for="agreeCheckbox">
						ฉันอ่านและเห็นด้วยกับ
						<a class="blue" href="{作家注册协议}" target="_blank">《{网站名} ข้อตกลงการลงทะเบียนเป็นผู้แต่ง/แปล》</a>
					</label>
					<cite data-node="ok" class="icon ok" style="display:none;"></cite>
				</li>
			</ul>
			<br>
			<p class="confirm">
				<a id="submitBtn" class="button" href="javascript:sub()">ลงทะเบียน</a>
				<a id="preStepBtn" class="back" href="javascript:step(2,1)">ก่อนหน้า</a>
			</p>
		</div>
	</form>

	<!-- 成功提示 -->
	<div id="successBox" class="applyForm" style="display:none;">
		<div class="welcome">
			<h4>
				<span class="icon ok"></span>ลงทะเบียนสำเร็จ!
			</h4>
			<p id="status0" style="display:none">โปรดรอให้ผู้ดูแลระบบตรวจสอบข้อมูลก่อน!</p>
			<p id="status1" style="display:none">ยินดีด้วย! ทำการลงทะเบียนเรียบร้อยแล้ว คุณสามารถทำสิ่งเหล่านี้ได้เลย</p>
			<center id="set" style="display:none">
				<a class="button" href="{创建小说}">เขียนนิยาย</a>
				<a class="button white" href="{作家基本资料}">ปรับปรุงข้อมูล</a>
			</center>
		</div>
	</div>
</div>
		
<script>
var isSub = true;
var nickNameStatus = false;
//下一步
var nextBtnFn = function formbox(){
	$("#step1").hide();
	$("#step2").show();
	$("#stepTabBox").find('span').removeClass('act');
	$("#stepTabBox").find('em').removeClass('actText');
	$("#stepTabBox").find('span').eq(1).addClass('act');
	$("#stepTabBox").find('em').eq(1).addClass('actText');
	return true;
};
//上一步
var preBtnFn = function formbox(){
	$("#step2").hide();
	$("#step1").show();
	$("#stepTabBox").find('span').removeClass('act');
	$("#stepTabBox").find('em').removeClass('actText');
	$("#stepTabBox").find('span').eq(0).addClass('act');
	$("#stepTabBox").find('em').eq(0).addClass('actText');
	return true;
};
//注册信息
function step(now,next){
	//1到2步骤
	if(now == 1 && next == 2){
		var nickname = $("#nickname").val();
		if( nickname == '' ){
			easydialog_alert('ต้องกรอกนามปากกาก่อน!','','','');
		}else if( nickname.length < 2 || nickname.length > 17 || !isString(nickname) ){
			easydialog_alert('ต้องมีอย่างน้อย 3-16 ตัวอักษร!','','','');
		}else{
			easydialog_alert('นามปากกา "'+nickname+'" จะไม่สามารถเปลี่ยนแปลงได้ คุณยืนยันที่จะใช้มันหรือไม่?','',nextBtnFn);
		}
	}else if(now == 2 && next == 1){
		preBtnFn();
	}
}
//提交注册
function sub(){
	if( isSub == true){
		var nickname = $("#nickname").val();
		var realname = $("#realname").val();
		//var cardid = $("#cardid").val();
		//var address = $("#address").val();
		var agreement = $("#agreeCheckbox").is(':checked');
		if( nickname.length < 2 || nickname.length > 17 || !isString(nickname) ){
			easydialog_alert('ต้องมีอย่างน้อย 3-16 ตัวอักษร!','','','');
		}else if( !isName(realname) || realname.length < 2 || realname.length > 30){
			easydialog_alert('ต้องมีอย่างน้อย 3-30 ตัวอักษร!','','','');
		/*}else if( !isCardId(cardid) ){
			easydialog_alert('对不起，身份证号码格式错误！','','','');
		}else if( address == '' ){
			easydialog_alert('对不起，联系地址不能为空！','','','');
		*/}else if( agreement == false){
			easydialog_alert('ต้องยอมรับเงื่อนไขเราก่อน!','','','');
		}else if(nickNameStatus == false){
			easydialog_alert('มีนามปากกานี้อยู่แล้ว โปรดกลับไปแก้ไขแล้วส่งใหม่อีกครั้ง','','','');
		}else{
			isSub = false;
			$("#submitBtn").css("background","#B0B9C1");
			$("#submitBtn").html("กำลังโหลด...");
			$.ajax({
				type:"POST",
				url:"{表单提交地址}&ajax=yes",
				data:$("[name=Form]").serializeArray(),
				dataType:"json",
				success:function(data){
					if(data.code == 200){
						$("#form").hide();
						$("#successBox").show();
						$("#stepTabBox").find('span').removeClass('act');
						$("#stepTabBox").find('em').removeClass('actText');
						$("#stepTabBox").find('span').eq(2).addClass('act');
						$("#stepTabBox").find('em').eq(2).addClass('actText');
						if( data.data.status == '0'){
							$("#status0").show();
						}else{
							$("#status1").show();
							$("#set").show();
						}
					}else{
						$("#submitBtn").css("background","#4EA8FF");
						$("#submitBtn").html("ส่งข้อมูล");
						easydialog_alert(data.msg,'','','');
					}
					isSub = true;
				},
				async:true,
			}); 
		}
	}
}
$(document).ready(function(){
	$("#nickname").blur(function(){
		var nicknameObj = $(this);
		var nickname = nicknameObj.val();
		if( nickname.length < 3 || nickname.length > 17 || !isString(nickname) ){
			nicknameObj.css('border','1px solid #D62D2D');
			nicknameObj.parent().find('cite').hide();
		}else{
			$.ajax({
				type:"POST",
				url:"{url:action;author.checknickname&ajax=yes}",
				data:{'nickname':nickname},
				dataType:"json",
				success:function(data){
					if(data.code == 200){
						nickNameStatus = true;
						nicknameObj.css('border','1px solid #4EAB80');
						nicknameObj.parent().find('cite').show();
					}else{
						nickNameStatus = false;
						nicknameObj.css('border','1px solid #D62D2D');
						nicknameObj.parent().find('cite').hide();
						easydialog_alert(data.msg,'','','');
					}
				},
				async:true,
			}); 
		}
	});
	$("#realname").blur(function(){
		var realname = $(this).val();
		if( !isName(realname) || realname.length < 2 || realname.length > 31){
			$(this).css('border','1px solid #D62D2D');
			$(this).parent().find('cite').hide();
		}else{
			$(this).css('border','1px solid #4EAB80');
			$(this).parent().find('cite').show();
		}
	});
	/*$("#cardid").blur(function(){
		var cardid = $(this).val();
		if( !isCardId(cardid) ){
			$(this).css('border','1px solid #D62D2D');
			$(this).parent().find('cite').hide();
		}else{
			$(this).css('border','1px solid #4EAB80');
			$(this).parent().find('cite').show();
		}
	});
	$("#address").blur(function(){
		var address = $(this).val();
		if( address == '' ){
			$(this).css('border','1px solid #D62D2D');
			$(this).parent().find('cite').hide();
		}else{
			$(this).css('border','1px solid #4EAB80');
			$(this).parent().find('cite').show();
		}
	});*/
});
</script>
{header:author/inc_footer.html}