{header:author/inc_header.html}
{header:author/inc_toper.html}
{header:author/inc_nav.html}
<script>
$(document).ready(function(){
	$("#main-bar").find("li").eq("4").addClass("act");
});
</script>
<link rel="stylesheet" type="text/css" href="{templates}/static/css/author/basic.css">

<div class="mainRight fl">
	<div class="crumbsWrap"><i><span>ข้อมูลผู้แปล</span></i></div>
	<div class="msgBoxTitle">
		<div class="tabSwitch cf">
		<span class="act" id="t1"><a href="javascript:void(0)">ข้อมูลทั่วไป</a></span>
		<span id="t2"><a href="javascript:void(0)">ข้อมูลการเงิน</a></span></div>
	</div>
    <div class="tabWrap authorInfoForm" id="basic">
		<div class="baseInfo tabBox">
			<div class="infoListWrap">
				<form id="basicForm" name="basicForm" method="post" action="{表单提交地址}">
      				<ul>
						<li><em>ไอดีผู้แปล</em>{作家id}</li>
	      				<li><em>นามแฝง</em>{作家笔名}</li>
				        <li><em>เบอร์มือถือ</em>{用户手机}</li>
				        <li><em>อีเมล์</em>{用户邮箱}</li>
				        <li><em>หมายเลข QQ</em>{用户qq}</li>
				        <li>
							<em>แะนำตัวผู้แปล</em>
							<p class="place">
							<textarea name="info" style="width:400px;height:80px;" id="info">{作家简介}</textarea>
							</p>
				        </li>
				        <li>
							<em>ประกาศ</em>
							<p class="place">
							<textarea name="notice" style="width:400px;height:80px;" id="notice">{作家公告}</textarea>
							</p>
				        </li>
	     			 </ul>
				      <p class="infoBtn">
				        <a id=editBasicBtn class="button" href="javascript:">แก้ไข</a>
					</p>
				</form>
			</div>
		</div>
	</div>
		
    <div class="tabWrap authorInfoForm" id="finance" style="display:none">
		<div class="baseInfo tabBox">
			<div class="infoListWrap">
				<form id="financeForm" name="financeForm" method="post" action="{财务表单提交地址}">
      				<ul>
				        <li>
							<em>ชื่อจริง</em>
							<p class="place"><input class="midInput" name="realname" type="text" value="{用户真实姓名}" style="width:80px"> <i class="f12 c999">ชื่อที่แสดงในบัตร</i></p>
				        </li>
				        <li>
							<em>เลขบัตร</em>
							<p class="place"><input class="midInput" name="cardid" type="text" value="{用户身份证}"></p>
				        </li>
				        <li>
							<em>ที่อยู่</em>
							<p class="place"><input class="midInput" name="address" type="text" value="{用户联系地址}"></p>
				        </li>
				        <li>
							<em>รหัสไปรษณีย์</em>
							<p class="place"><input class="midInput" name="zipcode" type="text" value="{用户邮编}" style="width:80px"></p>
				        </li>
				        <li>
							<em>Alipay</em>
							<p class="place"><input class="midInput" name="alipay" type="text" value="{用户支付宝}" style="width:160px;"> <i class="f12 c999">ต้องกรอกข้อมูล Alipay อย่างใดอย่างหนึ่ง</i></p>
				        </li>
				        <li>
							<em>开 户 行</em>
							<p class="place"><input class="midInput" name="bank" type="text" value="{用户开户行}" style="width:180px"></p>
				        </li>
				        <li>
							<em>ผู้ถือบัตร</em>
							<p class="place"><input class="midInput" name="bankmaster" type="text" value="{用户持卡人}" style="width:80px"></p>
				        </li>
				        <li>
							<em>หมายเลขบัตร</em>
							<p class="place"><input class="midInput" name="bankcard" type="text" value="{用户银行卡号}"></p>
				        </li>
				        <li>
							<em>开户行地址</em>
							<p class="place"><input class="midInput" name="bankaddress" type="text" value="{用户开户行地址}"></p>
				        </li>
	     			 </ul>
				      <p class="infoBtn">
				        <a id="editFinanceBtn" class="button" href="javascript:">แก้ไข</a>
					  </p>
				</form>
			</div>
		</div>    	
	</div>
	
	<script>
	$(document).ready(function(){
		$("#t1").click(function(){
			$("#t2").removeClass("act");
			$(this).addClass("act");
			$("#finance").hide();
			$("#basic").show();
		});
		$("#t2").click(function(){
			$("#t1").removeClass("act");
			$(this).addClass("act");
			$("#basic").hide();
			$("#finance").show();
		});
		$("#editBasicBtn").click(function(){
			$("#basicForm").submit();
		});
		$("#editFinanceBtn").click(function(){
			if( $("[name=realname]").val() == '' || $("[name=cardid]").val() == '' || $("[name=address]").val() == '' || $("[name=zipcode]").val() == ''){
				easydialog_alert("ขออภัย! ต้องกรอกชื่อจริง, หมายเลขประจำตัวประชาชน, ที่อยู่ และรหัสไปรษณีย์ก่อน");
			}else if($("[name=alipay]").val() == '' && ($("[name=bank]").val() == '' || $("[name=bankmaster]").val() == ''
					|| $("[name=bankcard]").val() == '' || $("[name=bankaddress]").val() == '')){
				easydialog_alert("ขออภัย! ต้องกรอกธนาคารและ Alipay ก่อน");
			}else{
				$("#financeForm").submit();
			}
		});
		
	});
	</script>
{header:author/inc_footer.html}