{header:author/inc_header.html}
{header:author/inc_toper.html}
{header:author/inc_nav.html}
<script>
$(document).ready(function(){
	$("#main-bar").find("li").eq("0").addClass("act");
});
</script>
	
<div class="mainRight pb260 fl">
	<div class="authorInfoWrap cf">
		<div class="headPhotoBox fl">
			<span></span> <img src="{用户头像}" width="86" height="86">
		</div>
		<div class="authorInfoBox fl">
			<h3>นามแฝง : {作家笔名} (ID : {作家id})</h3>
			<h3>ชื่อ : {用户真实姓名}</h3>
			<p>วันที่ {日} เดือน {月} ปี {年}, {星期} สัปดาห์</p>
		</div>
	</div>
	
	<div class="midContentWrap">
		<h3 class="title_h3"><span class="icon news"></span>ข้อมูลผู้แปล</h3>
		<div class="newsListWrap">
			<ul id="newsList">
       			<li class="act" style="margin-top: 10px;">
       			<div data-node="detail" class="detailNews" style="display: block;">
						<p>QQ : {用户qq}</p>
						<p>เบอร์มือถือ : {用户手机}</p>
						<p>แนะนำตัว : {作家简介}</p>
						<p>ประกาศ : {作家公告}</p>
       			</div>
       			</li>
			</ul>
		</div>
	</div>
</div>
{header:author/inc_footer.html}