{header:header.html}
<nav class="New-nav">
<a class=""  href="{首页}">首页</a>
<a class=""  href="{小说排行首页}">排行</a>
<a class=""  href="{小说首页}">分类</a>
<a class=""  href="{我的收藏}">收藏</a>
<a class=""  href="{签到中心}">签到</a>
</nav>
<div class="all_title">
<span style="">给我们留言</span></div>
<div class="other-author-wrap related-tag">
		<div id="comments"><div class="comment-post" id="comment-post">
	<form name="re" action="{留言提交地址}" method="post">
	<input type="hidden" name="type" value="add">
	<p><textarea name="content" rows="10" class="post-area" placeholder="{留言内容}" style="width:100%">{留言内容}</textarea></p>
	<div class="gdpl"><div title="留言" class="face"><a href="#"> </a></div><input type="submit" name="go" class="open2" id="submit" value="发表留言"></div></form>
	  </div>
		</div>
		   </div>
<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">返回上页</a><a href="{首页}">返回首页</a></div></div>			   
{footer:footer.html}