<!---- 搜索 ---->
<div style="background:#fff;margin-top:-10px">
	<div style="border-bottom: 12px #f2f2f2 solid;"></div>
	<div class="new_so  down-top">
		<div class="so-input">
			<form method="GET" action="{搜索提交地址}">
				<input type="hidden" name="module" value="novel" />
				<input type="hidden" name="type" value="1" />
				<input type="text" name="key" placeholder="โปรดกรอกคำหลัก" id="keyword"></div>
				<input type="submit" class="soso_ico" id="soso" value=" ">
			</form>
		</div>
	</div>
</div>

<footer class="new-footer">
	<a href="#"><div class="bac_to_top" id="bac_to_top"></div></a>
	<div class="foot-two">
		<a href="javascript:void(0);">รุ่นอย่างง่าย</a>
		<a class="active">รุ่นสัมผัส</a>
		<a href="{电脑版}" >รุ่นพีซี</a>
	</div>
	<div class="foot_four">&copy;2016 {网站名}</div>
</footer>

</body>
</html>
