{header:header.html}
<nav class="New-nav">
<a class=""  href="{好友主页}">TA的首页</a>
<a class="active"  href="{好友收藏}">TA的收藏</a>
<a class=""  href="{好友书架}">TA的书架</a>
</nav>
<div class="girl_list_tie">TA的收藏</div>
{好友收藏列表:数量=10}
{无数据}TA还没有收藏！{/无数据}
<div class="book-pic-list">
<div class="al"  onclick="location.href='{url}'">
<div class="img"><img src="{小说封面}" alt="{小说名字}"/></div>
<div class="conter">
<div class="name"><span>[{小说分类简称}]</span> {小说名字}</div>
<div class="new-Author">{小说作者}</div>
<div class="infor-name">{小说简介:50}...</div></div></div>
 <div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/好友收藏列表}

<div class="btBox">
<div class="bt2">
<a href="{上一页}">上一页</a>
<a href="{下一页}">下一页</a>
</div></div>
<div class="showpage">第 {当前页}/{总页数} 页，共 {总数据} 条 </div>
<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">返回上页</a><a href="{首页}">返回首页</a></div></div>

{footer:footer.html}