{header:user/inc_header.html}
<script>
$(document).ready(function(){
	$("#nv").find("li a").eq("4").addClass("nvcur");
});
</script>
<style>
h2{font-size: 14px;}
.xw0{margin-left: 15px;font-size: 12px;}
.pf_l li{float: left;width: auto;margin-right: 35px;color: #5a5a5a;}
.pf_l em{padding-right: 2px;}
.bm_h{height: 32px;line-height: 36px;}
.table_show,#pcr{border: 2px solid #f4f4f4;width: 100%;margin: 15px 0;}
.table_show th,.table_show td,#pcr td,#pcr th{padding: 11px 0 11px 8px;}
.table_show th,#pcr th{color: #acacac;}
.table_show td,#pcr td{color: #5a5a5a;}
.md_ctrl{margin: 15px 0;}
.block_title{padding-bottom: 8px;border-bottom: 1px dashed #cdcdcd;}
.group_show{position: absolute;top: 0px;right: 0px;}
.group_show li{float: left;margin-left: 30px;}
#pbbs,#psts .pf_l{overflow: hidden;border: solid #f4f4f4;border-width: 2px 2px 1px 1px;}
#pbbs div,#psts .pf_l div{float: left;width: 357px;border-bottom: 1px solid #f4f4f4;}
#pbbs span,#psts .pf_l span{padding: 11px 0 11px 10px;display: inline-block;color: #5a5a5a;}
#pbbs .th,#psts .pf_l .th{width: 84px;border: solid #f4f4f4;border-width: 0 1px 0 1px; color: #acacac;}
#psts{margin-top: 20px;}
</style>
<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<div class="bm">
			<div class="bm_h"><h1 class="mt">ข้อมูลส่วนตัว</h1></div>
			<div class="bm_c">
				<div class="bm_c u_profile">
				    <div class="pbm mbm bbda cl" style="position: relative;">
						<h2 class="mbn">ข้อมูลส่วนตัวของผู้ใช้</h2>
						<div style="clear: both"></div>
						<div id="pbbs" class="pf_l">
							<div><span class="th">ชื่อเล่น</span><span>{用户昵称}</span></div>
							<div><span class="th">ไอดี</span><span>{用户id}</span></div>
							<div><span class="th">เพศ</span><span>{用户性别}</span></div>
							<div><span class="th">อายุ</span><span>{用户年龄}岁({用户出生日期})</span></div>
							<div><span class="th">QQ</span><span>{用户qq}</span></div>
							<div><span class="th">มือถือ</span><span>{用户手机}</span></div>
							<div><span class="th">ผู้เข้าชม</span><span>{用户人气}</span></div>
							<div><span class="th">ที่อยู่อีเมล์</span><span>{用户邮箱} <a style="color:red" href="{验证邮箱}">ยืนยัน</a></span></div>
							<div><span class="th">{金币1名字}</span><span>{用户金币1} {金币1单位}</span></div>
							<div><span class="th">{金币2名字}</span><span>{用户金币2} {金币2单位} <a style="color:red" href="{充值}">เติมเงิน</a></span></div>
							<div><span class="th">ยอดคงเหลือ</span><span>{用户余额} {余额名字}</span></div>
							<div><span class="th">冻结余额</span><span>{用户冻结金额} {余额名字}</span></div>
							<div><span class="th">ระดับปัจจุบัน</span><span>{用户等级}</span></div><div><span class="th">&nbsp;</span><span>&nbsp;</span></div>
							<div><span class="th">ข้อมูลประสบการณ์</span><span>{用户经验}/{下级经验}</span></div>
							<div><span class="th">อัปเกรดผู้ใช้</span><span>{升级经验}{经验名字} เป็น {下一等级}</span></div>
							<div><span class="th">วันที่ลงทะเบียน</span><span>{用户注册时间}</span></div>
							<div><span class="th">เข้าสู่ระบบล่าสุด</span><span>{用户登陆时间}</span></div>
						</div>
					</div>
					<div id="psts" class="cl">
						<h2 class="mbn">【ข้อมูลเรื่องที่ชอบ】</h2>
						<div class="pf_l">
							<div><span class="th">ความจุชั้นหนังสือ</span><span>ใช้ไป {书架已用容量} / จากทั้งหมด {书架总容量} = คงเหลือ {书架剩余容量}</span></div>
							<div><span class="th">ความจุเรื่องที่ชอบ</span><span>ใช้ไป {收藏已用容量} / จากทั้งหมด {收藏总容量} = คงเหลือ {收藏剩余容量}</span></div>
							<div><span class="th">คงเหลือ {月票名字} : </span><span>คงเหลือ {月票} แต้ม</span></div>
							<div><span class="th">คงเหลือ{推荐票名字} : </span><span>คงเหลือ {推荐票} แต้ม</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sd">
		<div id="pcd" class="bm cl">
			<div class="bm_c">
				<div class="hm">
					<p><a href="{头像设置}" class="avtm"><img src="{用户头像}"></a></p>
					<h2 class="xs2">{用户昵称}</h2>
				</div>
			</div>
		</div>
	</div>
</div>

{footer:user/inc_footer.html}