<link rel="stylesheet" type="text/css" href="{templates}/static/css/user/home_space.css" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/user/space.css" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/user/style.css" />
<style>
.block{margin: 0 5px 10px;}
</style>


<div id="toptb" class="cl">
	<div class="y">
		<!--<a href="#">注册</a>-->
	</div>
	<div class="z">
		<a href="http://www.weimengcms.com" title="WMCMS" class="xw1">เว็บไซต์อย่างเป็นทางการ</a>
		<a style="background-position:80px 12px;" href="{首页}">กลับไปหน้าหลัก</a>
	</div>
</div>

<div id="hd" class="wp cl">
	<h2 id="spaceinfoshow">
		<strong id="spacename" class="mbn">พื้นที่ของ {用户昵称}</strong>
	</h2>
	
	<div id="nv">
	<ul>
		<li><a href="{首页}">หน้าหลัก</a></li>
		<li><a href="{用户中心}">พื้นที่ส่วนบุคคล</a></li>
		<li><a href="{账号属性}">คุณสมบัติส่วนบุคคล</a></li>
		<li><a href="{基本资料}">แก้ไขข้อมูล</a></li>
		<li><a href="{头像设置}">รูปประจำตัว</a></li>
		<li><a href="{消息列表}">ศูนย์ข้อความ</a></li>
		<li><a href="{修改密码}">เปลี่ยนรหัสผ่าน</a></li>
		<li><a href="{验证邮箱}">ยืนยันอีเมล์</a></li>
	</ul>
	</div>
</div>