{header:header.html}
<nav class="New-nav">
  <a class=""  href="{首页}">หน้าหลัก</a>
  <a class=""  href="{小说排行首页}">อันดับ</a>
  <a class=""  href="{小说首页}">หมวดหมู่</a>
  <a class=""  href="{我的收藏}">ชั้นหนังสือ</a>
  <a class=""  href="{签到中心}">เข้าสู่ระบบ</a>
</nav>
<div class="muma_wap  magin">
    <div class="book_top ">
        <div class="img "><img src="{封面}" alt="{名字}"></div>
        <div class="infour">
            <div class="in_textone" style="padding-right:15px;">{名字}</div>
            <div class="in_texttwo">{分类简称} - ผู้แต่ง : {作者}</div>
            <div class="in_texttwo">อัปเดทล่าสุด : {更新时间}</div>
            <div class="in_texttwo">ป้ายกำกับ : {标签}</div>
                       <!-- <div class="bk_fl">
            	                <div class="fl" data-text="{标签}">{标签}</div>
                            </div> -->
                     </div>
        		<a href="{加入收藏}"><div class="coll{是否收藏} _collect"></div></a>
		    </div>
		    <div class="mulu_btns">
                         <div class="mulu_l_btn" onclick="location.href='{立即阅读}'" id="_read">
                    <div>
                <span></span>
            </div>
        </div>

		 <div class="mulu_s_btn" onclick="location.href='{加入书架}'">
            <div>
                <span></span>
            </div>
        </div>
	</div>

	<!-- NEWS -->
    <div class="new-book" style="">
        <div class="zx">ล่าสุด</div>
        	{小说章节列表:数量=1;排序=更新时间}
        	{无数据}ยังไม่มีบทใหม่{/无数据}
        	<div class="fn13" onclick="location.href='{url}'">{小说章节名字}</div>
        	{/小说章节列表}
           <!--   <div class="time_hoe">{更新时间}</div>   -->
    </div>
</div>

<script>
function setTab(name,cursel,n){
	for(i=1;i<=3;i++){
		//var menu=document.getElementById(name+i);
		//var con=document.getElementById("con_"+name+"_"+i);
		//menu.className=i==cursel?"active":"";
		//con.style.display=i==cursel?"block":"none";
		var menu = $("#"+name+i), con = $("#con_"+name+"_"+i);
		if(i==cursel){
			 menu.attr("class", "active");
			 con.show();
		}else{
			menu.attr("class", "");
			 con.hide();
		}
	}
}
</script>
<div class="_advert_show"  data-plugid="447" data-typeid="8" data-step="0" ></div><div class="_advert_show"  data-plugid="473" data-typeid="0" data-step="0" ></div><div class="mulu_lists">
        <div class="catalog">
        <div onclick="setTab('one',1,3)" id="one1" class="active">เรื่องย่อ</div>
        <div onclick="setTab('one',2,3)" id="one2" >สารบัญ</div>
         <div onclick="setTab('one',3,3)" id="one3" >ความเห็น</div>
    </div>
    <div id="con_one_1">
        <div class="janjie">
           {简介}
            <div class="fn15">ลงเมื่อ ：{创建时间}</div>
        </div>
            </div>

   <div id="con_one_2" style="display: none;">
   {小说章节列表:数量=3}
    	    	    	             <div class="list_main"  onclick="location.href='{url}'">

            <font>บทที่ {i} : {小说章节名字}</font>
        </div>
	{/小说章节列表}
		<div class="menu_more_black marign"><a href="{目录链接}">ดูเพิ่มเติม <span></span></a></div>
      </div>

	  <div id="con_one_3" style="display: none;">
        <div class="pinlun">
            <div class="fn17">ทั้งหมด {评论量} ความคิดเห็น</div>
            <div class="my_pinlun"><a href="{评论列表}">แสดงความคิดเห็น</a></div>
        </div>
		{评论:数量=3;排序=最新}
        <div class="review">
            <div class="pic_img"><a href="{url}"><img src="{评论用户头像}" alt="{评论用户昵称}"></a></div>
            <div class="review_fn">
            	<a href="{url}">
                <div class="fn_name">{评论用户昵称}</div>
                <div class="fn16">{评论内容}</div>
                <div class="fn15">{评论时间}</div>
                </a>
            </div>
        </div>
		{/评论}
        <div class="menu_more_black marign"><a href="{评论列表}">อ่านเพิ่มเติม <span></span></a></div>
    </div>
</div>

 <style>
.operateBox{height:auto;}
.operateBox ul{overflow:auto;}
.operateBox li{float:left;width:25%;height:80px;text-align:center;line-height:30px;}
.operateBox li{display:block;height:80px;width:25%;}
.operateBox .icon{border-radius: 5px;margin:auto;margin-top:10px;border:2px solid #00aeef;width:30px;color:#00aeef;font-weight: bold;}
.operateHideBox{display:none;position: fixed;width:100%;bottom: 0;height:auto;z-index:10000;background: #FFFFFF;}
.operateMaskBox{display:none;position: absolute;height: 100%;width: 100%;background: #000000;z-index: 9999;top: 0;opacity: 0.6;}
.operateSelect li{background:#f3f3f3;}
.operateSelect .active{background:#FFFFFF}
.operateContentFooter{line-height: 2.75rem;overflow: hidden;border-top: 1px solid #f0f1f2;}
#operateContentBox ul li{display:none}
#operateContentBox .contentBox{padding:30px 0 30px 0;font-size:10px;color: #424141;}

.nowData {float: left;padding-left: 1rem;}
.nowData .red{color: #ed424b;margin:0 5px 0 5px;}
.useData {float: right;padding: 0 2rem;text-align: center;background:#969ba3;color:#FFFFFF}
.useDataSelect{background:#00aeef;}
.clear{clear: both;}

.contentList{float:left;width:20%;margin:auto;text-align:center;padding: 5px 0 5px 0;}
.liwuBox{border:2px solid #bbb;margin-left:10px;margin-right:5px;}
.goldBox,.monthBox,.recBox{border:2px solid #bbb;margin-bottom:5px;margin-left:8px;margin-right:8px;}
.monthBox span,.recBox span,.goldBox span{font-weight:bold;color:#000000}

.contentListSelect{border: 2px solid #00aeef;}
</style>
<!--打赏操作-->
<div class="all_title operateBox" id="operateBox">
	<ul>
		<a href="javascript:"><li><div class="icon">ของขวัญ</div>ส่งของขวัญ</li></a>
		<a href="javascript:"><li><div class="icon">รางวัล</div>ให้รางวัล</li></a>
		<a href="javascript:"><li><div class="icon">สมัคร</div>โหวตรายเดือน</li></a>
		<a href="javascript:"><li><div class="icon">โหวต</div>โหวตให้เป็นเรื่องแนะนำ</li></a>
	</ul>
</div>
<div class="operateMaskBox"></div>
<div class="operateHideBox">
	<div class="operateBox operateSelect" id="operateSelect">
		<ul>
			<a href="javascript:"><li><div class="icon">ของขวัญ</div>ส่งของขวัญ</li></a>
			<a href="javascript:"><li><div class="icon">รางวัล</div>ให้รางวัล</li></a>
			<a href="javascript:"><li><div class="icon">สมัคร</div>โหวตรายเดือน</li></a>
			<a href="javascript:"><li><div class="icon">โหวต</div>โหวตให้เป็นเรื่องแนะนำ</li></a>
		</ul>
	</div>
	<div id="operateContentBox">
		<ul>
			<li>
				<div class="contentBox">
					{道具:模块=小说;排序=顺序;tid=4;数量=4}
					<div class="contentList liwuBox" data-id="{道具id}" data-moeny2="{道具价格2}">
						<div><img src="{道具图标}" alt="{道具名字}" width="80"></div>
						<div><money>{道具价格2}</money>{金币2名字}</div>
						<div>{道具名字}</div>
					</div>
					{/道具}
					<div class="clear"></div>
				</div>
				<div class="operateContentFooter">
					<div class="nowData">{金币2名字}<span class="red">{用户金币2数量}</span>{金币2单位}</div>
					<div class="useData" id="dashang">ให้ของขวัญ/div>
				</div>
			</li>
			<li>
				<div class="contentBox">
					<div class="contentList goldBox" data-money="10"><span>10</span><div>{金币2名字}</div></div>
					<div class="contentList goldBox" data-money="50"><span>50</span><div>{金币2名字}</div></div>
					<div class="contentList goldBox" data-money="100"><span>100</span><div>{金币2名字}</div></div>
					<div class="contentList goldBox" data-money="200"><span>200</span><div>{金币2名字}</div></div>
					<div class="clear"></div>
					<div class="contentList goldBox" data-money="500"><span>500</span><div>{金币2名字}</div></div>
					<div class="contentList goldBox" data-money="1000"><span>1000</span><div>{金币2名字}</div></div>
					<div class="contentList goldBox" data-money="2000"><span>2000</span><div>{金币2名字}</div></div>
					<div class="contentList goldBox" data-money="5000"><span>5000</span><div>{金币2名字}</div></div>
					<div class="clear"></div>
				</div>
				<div class="operateContentFooter">
					<div class="nowData">{金币2名字}<span class="red">{用户金币2数量}</span>{金币2单位}</div>
					<div class="useData" id="gold_btn">ให้รางวัล<span>0</span>{金币2名字}</div>
				</div>
			</li>
			<li>
				<div class="contentBox">
					<div class="contentList monthBox" data-number="1"><span>1</span><div>{月票名字}</div></div>
					<div class="contentList monthBox" data-number="2"><span>2</span><div>{月票名字}</div></div>
					<div class="contentList monthBox" data-number="3"><span>3</span><div>{月票名字}</div></div>
					<div class="contentList monthBox" data-number="4"><span>4</span><div>{月票名字}</div></div>
					<div class="clear"></div>
					<div class="contentList monthBox" data-number="5"><span>5</span><div>{月票名字}</div></div>
					<div class="contentList monthBox" data-number="10"><span>10</span><div>{月票名字}</div></div>
					<div class="contentList monthBox" data-number="20"><span>20</span><div>{月票名字}</div></div>
					<div class="contentList monthBox" data-number="{月票}"><span>ทั้งหมด</span><div>{月票名字}</div></div>
					<div class="clear"></div>
				</div>
				<div class="operateContentFooter">
					<div class="nowData">{月票名字}<span class="red">{月票}</span>ใบ</div>
					<div class="useData" id="month_btn">ให้ <span>0</span>ใบ {月票名字}</div>
				</div>
			</li>
			<li>
				<div class="contentBox">
					<div class="contentList recBox" data-number="1"><span>1</span><div>{推荐票名字}</div></div>
					<div class="contentList recBox" data-number="2"><span>2</span><div>{推荐票名字}</div></div>
					<div class="contentList recBox" data-number="3"><span>3</span><div>{推荐票名字}</div></div>
					<div class="contentList recBox" data-number="4"><span>4</span><div>{推荐票名字}</div></div>
					<div class="clear"></div>
					<div class="contentList recBox" data-number="5"><span>5</span><div>{推荐票名字}</div></div>
					<div class="contentList recBox" data-number="10"><span>10</span><div>{推荐票名字}</div></div>
					<div class="contentList recBox" data-number="20"><span>20</span><div>{推荐票名字}</div></div>
					<div class="contentList recBox" data-number="{推荐票}"><span>ทั้งหมด</span><div>{推荐票名字}</div></div>
					<div class="clear"></div>
				</div>
				<div class="operateContentFooter">
					<div class="nowData">{推荐票名字}<span class="red">{推荐票}</span> ใบ</div>
					<div class="useData" id="rec_btn">ให้<span>0</span>ใบ {推荐票名字}</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="all_title">
<span style="">คุณอาจสนใจ</span></div>
{小说:数量=5;排序=随机}
 <div class="book-pic-list">
 <div class="al"  onclick="location.href='{url}'">
 <div class="img"><img src="{小说封面}" alt="{小说名字}"/></div>
 <div class="conter">
 <div class="name">{小说名字}</div>
 <div class="new-Author">{小说作者}</div>
 <div class="infor-name">{小说简介:50}...</div></div></div>
 <div class="quickly-read"  onclick="location.href='{url}'">อ่านเลย</div></div>
 <div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/小说}

<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">ย้อนกลับ</a><a href="{首页}">หน้าหลัก</a></div></div>


<script src="/files/js/easydialog/easydialog.js"></script>
<link rel="stylesheet" type="text/css" href="/files/js/easydialog/easydialog.css" />
<script>
$(document).ready(function(){
	$("#operateBox a").click(function(){
		$('body').css('overflow','hidden');
		$(".operateHideBox").show();
		$(".operateMaskBox").show();

		$("#operateSelect li").removeClass('active');
		$("#operateSelect").find('li').eq($(this).index()).addClass('active');
		$("#operateContentBox li").hide();
		$("#operateContentBox").find('li').eq($(this).index()).show();
	});
	$("#operateSelect a").click(function(){
		$("#operateSelect li").removeClass('active');
		$("#operateSelect").find('li').eq($(this).index()).addClass('active');
		$("#operateContentBox li").hide();
		$("#operateContentBox").find('li').eq($(this).index()).show();
	});
	$(".operateMaskBox").click(function(){
		$('body').css('overflow','auto');
		$(".operateHideBox").hide();
		$(".operateMaskBox").hide();
	});
	$(".liwuBox").click(function(){
		$(this).parent().find('.liwuBox').removeClass('contentListSelect');
		$(this).addClass('contentListSelect');
		$('#dashang').addClass('useDataSelect');
	});
	$(".goldBox").click(function(){
		$(this).parent().find('.goldBox').removeClass('contentListSelect');
		$(this).addClass('contentListSelect');
		$('#gold_btn span').html($(this).data('money'));
		$('#gold_btn').addClass('useDataSelect');
	});
	$(".monthBox").click(function(){
		$(this).parent().find('.monthBox').removeClass('contentListSelect');
		$(this).addClass('contentListSelect');
		$('#month_btn span').html($(this).data('number'));
		$('#month_btn').addClass('useDataSelect');
	});
	$(".recBox").click(function(){
		$(this).parent().find('.recBox').removeClass('contentListSelect');
		$(this).addClass('contentListSelect');
		$('#rec_btn span').html($(this).data('number'));
		$('#rec_btn').addClass('useDataSelect');
	});


	/*道具打赏*/
	$("#dashang").click(function(){
		var Obj = $(this).parent().parent().find('.contentListSelect');
		var thisGold = Obj.data('moeny2');
		var pid = Obj.data("id");
		var gold = thisGold;
		thisGold = parseInt(thisGold);
		if(typeof(gold) == 'undefined' || thisGold < 1 || pid < 1){
			easydialog_autoclose("ขออภัย! โปรดเลือกของขวัญก่อน");
		}else if( thisGold > {用户金币2数量} ){
			easydialog_alert("ขออภัย! {金币2名字} ไม่เพียงพอ<br/>โปรด<a href='{充值}' style='color: blue;text-decoration: underline;'>เติมเงิน</a>แล้วลองอีกครั้ง!",'{金币2名字}不足','','');
		}else{
			//赠送道具操作
			$.ajax({
				type:"POST",
				url:"{url:action;novel.props.give&ajax=yes}",
				data:{'pid':pid,'nid':'{id}'},
				dataType:"json",
				success:function(data)
				{
					if(data.code==200){
						easydialog_autoclose(data.msg,'success',3000);
					}else{
						easydialog_autoclose(data.msg,'',2000);
					}
				}
			});
		}
	});

	/*金币打赏*/
	$("#gold_btn").click(function(){
		var thisGold = $(this).parent().parent().find('.contentListSelect').data('money');
		var gold = thisGold;
		thisGold = parseInt(thisGold);
		if(typeof(gold) == 'undefined' || thisGold < 1){
			easydialog_autoclose("对不起，请选择打赏的数量!");
		}else if( thisGold > {用户金币2数量} ){
			easydialog_alert("ขออภัย! {金币2名字} ไม่เพียงพอ<br/>โปรด<a href='{充值}' style='color: blue;text-decoration: underline;'>เติมเงิน</a>แล้วอลงอีกครั้ง!",'{金币2名字}不足','','');
		}else{
			//打赏金币操作
			$.ajax({
				type:"POST",
				url:"{url:action;novel.reward&ajax=yes}",
				data:{'gold2':thisGold,'nid':'{id}'},
				dataType:"json",
				success:function(data)
				{
					if(data.code==200){
						easydialog_autoclose(data.msg,'success',3000);
					}else{
						easydialog_autoclose(data.msg,'',2000);
					}
				}
			});
		}
	});
	/*推荐*/
	$("#rec_btn").click(function(){
		var rec = parseInt($(this).parent().parent().find('.contentListSelect').data('number'));
		if( rec > {推荐票} || rec == 0 ){
			easydialog_autoclose("{推荐票名字}ไม่เพียงพอ!");
		}else{
			//推荐操作
			$.ajax({
				type:"POST",
				url:"{url:action;novel.ticket&ajax=yes}",
				data:{'number':rec,'type':'rec','nid':'{id}'},
				dataType:"json",
				success:function(data)
				{
					if(data.code==200){
						easydialog_autoclose(data.msg,'success',3000);
					}else{
						easydialog_autoclose(data.msg,'',2000);
					}
				}
			});
		}
	});
	/*月票*/
	$("#month_btn").click(function(){
		var month = parseInt($(this).parent().parent().find('.contentListSelect').data('number'));
		if( month > {月票} || month == 0){
			easydialog_autoclose("{月票名字}ไม่เพียงพอ!");
		}else{
			//月票操作
			$.ajax({
				type:"POST",
				url:"{url:action;novel.ticket&ajax=yes}",
				data:{'number':month,'type':'month','nid':'{id}'},
				dataType:"json",
				success:function(data)
				{
					if(data.code==200){
						easydialog_autoclose(data.msg,'success',3000);
					}else{
						easydialog_autoclose(data.msg,'',2000);
					}
				}
			});
		}
	});
});
</script>
{footer:footer.html}
