{header:header.html}
<nav class="New-nav">
  <a class="active"  href="{首页}">หน้าหลัก</a>
  <a class=""  href="{小说排行首页}">อันดับ</a>
  <a class=""  href="{小说首页}">หมวดหมู่</a>
  <a class=""  href="{我的收藏}">ชั้นหนังสือ</a>
  <a class=""  href="{签到中心}">เข้าสู่ระบบ</a>
</nav>
 <!---- 搜索 ---->
 <div class="new_so  down-top">
 <div class="so-input">
 <form method="GET" action="{搜索提交地址}">
 <input type="hidden" name="module" value="novel" />
 <input type="hidden" name="type" value="1" />
 <input type="text" name="key" placeholder="โปรดกรอกคำหลัก" id="keyword"></div>
<input type="submit" class="soso_ico" id="soso" value=" ">
 </form>
</div></div>

<style>
.search1{background:#fff;margin-top:10px;}
</style>
<div class="search1">

<div id="content_1" style="margin:0px; padding: 0px;" class="book_pice margin10">
<div class="book_head"><span class="fn27">พบแล้ว<span class="fn23">{搜索词}</span>的<span class="fn23">{总数据}</span>เรื่อง</span></div>
{搜索结果:数量=10}
<div class="book_piece">
		<div class="l" onclick="location='{url}'">
			<div class="img"><img src="{小说封面}" alt="{小说名字}">
			</div>
			<div class="cont p05">
				<div class="name">{小说名字}
				</div>
				<div class="author">{小说进程} | ผู้แต่ง : {小说作者}
				</div>
				<div class="intro">เรื่องย่อ : {小说简介:50}...
				</div>
			</div>
		</div>
	</div>
{/搜索结果}
	</div>
	</div>

<div class="btBox">
<div class="bt2">
<a href="{上一页}">ก่อนหน้า</a>
<a href="{下一页}">ถัดไป</a>
</div></div>
<div class="showpage">จาก {当前页}/{总页数} หน้า ทั้งหมด {总数据} รายการ </div>
<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">ย้อนกลับ</a><a href="{首页}">หน้าหลัก</a></div></div>	
{footer:footer.html}
