{header:author/inc_header.html}
{header:author/inc_toper.html}
{header:author/inc_nav.html}
<script>
$(document).ready(function(){
	$("#main-bar").find("li").eq("1").addClass("act");
});
</script>
<link rel="stylesheet" type="text/css" href="{templates}/static/css/author/novellist.css">

<div class="mainRight fl">
    <div class="crumbsWrap">
        <i><span>จัดการนิยาย</span></i>
    </div>
    <div class="msgBoxTitle">
        <p class="f12 c555">แปลทั้งหมด <span id="bookCount" class="blue Num">{总数据}</span> เรื่อง</p>
        <a class="create button" href="{创建小说}"><em class="icon"></em>เพิ่มเรื่องใหม่</a>
    </div>
    <!-- 存在作品 -->
    <div id="bookManageExist" class="worksCtrlWrap">
        <div class="worksListWrap mb20">
            <table class="worklist-table" width="100%" border="0" cellspacing="0">
                <colgroup>
                    <col width="32px">
                    <col width="220px">
                    <col width="80px">
                    <col width="180px">
                    <col width="120px">
                    <col width="60px">
                    <col width="60px">
                    <col width="160px">
                </colgroup>
                <thead>
	                <tr>
	                    <th></th>
	                    <th class="tl">ชื่อเรื่อง</th>
	                    <th class="tl">สถานะ</th>
	                    <th class="tl">บทล่าสุด</th>
	                    <th class="center">ประเภทนิยาย</th>
	                    <th>เรื่องที่ชอบ</th>
	                    <th>กระบวนการ</th>
	                    <th class="center">การดำเนินการ</th>
	                </tr>
                </thead>
                <tbody id="novelList">
               		{小说列表:数量=20;排序=最新入库}
               		{无数据}
               		<tr class="active">
	               		<td colspan="8">
						    <div class="worksCtrlWrap">
						        <div class="null"><p>คุณยังไม่ได้เผยแพร่งานแปลใด ๆ ของคุณเลย!<a class="button" style="color: #FFF;" href="{创建小说}">เพิ่มเรื่องใหม่</a></p></div>
						    </div>
					    </td>
				    </tr>
				    {/无数据}
                	<tr class="active" style="background: #FFFFFF;">
                		<td></td>
                		<td class="tl">
	                		<div class="work-photo">
		                		<a href="{url}" target="_blank"><img src="{小说封面}" width="83" height="108" alt="作品封面"></a>
	                		</div>
	                		<p class="work-name"><a href="{url}" target="_blank">{小说名字}</a></p>
                		</td>
                		<td class="tl">{小说状态}</td>
                		<td class="tl">
                			<a href="{rurl}" target="_blank">{小说最新章节名字}</a><br>
                			<em class="time">{小说更新时间}</em>
                		</td>
                		<td><em>{小说分类名字}</em></td>
                		<td><em class="Num">{小说总收藏}</em></td>
                		<td>{小说进程}</td>
                		<td><div class="dib-wrap"><a class="button blue" href="{deurl}"><span class="icon"></span><i>เขียนบทใหม่</i></a>
                		<a class="button white" href="{curl}"><span class="icon"></span><i>เผยแพร่แล้ว</i></a></div></td>
                		</tr>
                	{/小说列表}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{header:author/inc_footer.html}
<script>
$(document).ready(function(){
	$("#novelList tr").hover(function(){
		$(this).css('background','#F6FBFF');  
    },function(){  
		$(this).css('background','#FFFFFF');
    })  
});
</script>