{header:header.html}
<nav class="New-nav">
  <a class=""  href="{首页}">หน้าหลัก</a>
  <a class="active"  href="{小说排行首页}">อันดับ</a>
  <a class=""  href="{小说首页}">หมวดหมู่</a>
  <a class=""  href="{我的收藏}">ชั้นหนังสือ</a>
  <a class=""  href="{签到中心}">เข้าสู่ระบบ</a>
</nav>

<div class="all_title  down-top0"  onclick="location.href='{小说类型排行:12}{url}{/小说类型排行}'">
<span style="">นิยายแนะนำ</span>
<dd class="more"  >&nbsp;</dd></div>
<div class="Ranking-nr" >
{小说:数量=5;排序=总推荐}
<div class="Ranking-list"  onclick="location.href='{url}'">
<div class="rank">
{i:1}<div style="background-color: #ff3333;">1</div>{/i}{i:2}<div style="background-color: #ff9900;">2</div>{/i}{i:3}<div style="background-color: #b1d473;">3</div>{/i}{i:4}<div style="background-color: #dedede;">4</div>{/i}{i:5}<div style="background-color: #dedede;">5</div>{/i}
</div>
<div class="cont"><div class="ameee"><span>[{小说分类简称}]</span>{小说名字}</div></div></div>
<div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/小说}
</div>

<div class="all_title  down-top0"  onclick="location.href='{小说类型排行:2}{url}{/小说类型排行}'">
<span style="">เข้าชมมากสุด</span>
<dd class="more"  >&nbsp;</dd></div>
<div class="Ranking-nr" >
{小说:数量=5;排序=总点击}
<div class="Ranking-list"  onclick="location.href='{url}'">
<div class="rank">
{i:1}<div style="background-color: #ff3333;">1</div>{/i}{i:2}<div style="background-color: #ff9900;">2</div>{/i}{i:3}<div style="background-color: #b1d473;">3</div>{/i}{i:4}<div style="background-color: #dedede;">4</div>{/i}{i:5}<div style="background-color: #dedede;">5</div>{/i}
</div>
<div class="cont"><div class="ameee"><span>[{小说分类简称}]</span>{小说名字}</div></div></div>
<div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/小说}
</div>

<div class="all_title  down-top0"  onclick="location.href='{小说类型排行:1}{url}{/小说类型排行}'">
<span style="">นิยายมาใหม่</span>
<dd class="more"  >&nbsp;</dd></div>
<div class="Ranking-nr" >
{小说:数量=5;排序=最新入库}
<div class="Ranking-list"  onclick="location.href='{url}'">
<div class="rank">
{i:1}<div style="background-color: #ff3333;">1</div>{/i}{i:2}<div style="background-color: #ff9900;">2</div>{/i}{i:3}<div style="background-color: #b1d473;">3</div>{/i}{i:4}<div style="background-color: #dedede;">4</div>{/i}{i:5}<div style="background-color: #dedede;">5</div>{/i}
</div>
<div class="cont"><div class="ameee"><span>[{小说分类简称}]</span>{小说名字}</div></div></div>
<div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/小说}
</div>

<div class="all_title  down-top0"  onclick="location.href='{小说类型排行:7}{url}{/小说类型排行}'">
<span style="">นิยายในชั้นหนังสือ</span>
<dd class="more"  >&nbsp;</dd></div>
<div class="Ranking-nr" >
{小说:数量=5;排序=总收藏}
<div class="Ranking-list"  onclick="location.href='{url}'">
<div class="rank">
{i:1}<div style="background-color: #ff3333;">1</div>{/i}{i:2}<div style="background-color: #ff9900;">2</div>{/i}{i:3}<div style="background-color: #b1d473;">3</div>{/i}{i:4}<div style="background-color: #dedede;">4</div>{/i}{i:5}<div style="background-color: #dedede;">5</div>{/i}
</div>
<div class="cont"><div class="ameee"><span>[{小说分类简称}]</span>{小说名字}</div></div></div>
<div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/小说}
</div>

<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">ย้อนกลับ</a><a href="{首页}">ถัดไป</a></div></div>
{footer:footer.html}